diffusers==0.19.0
langchain==0.0.315
langchain_experimental==0.0.30
pandas==2.0.3
pyautogen==0.1.6
pyperclip==1.8.2
pyttsx3==2.90
SpeechRecognition==3.10.0
SQLAlchemy==2.0.17
streamlit==1.27.2
streamlit_ace==0.1.1
streamlit_elements==0.1.0
streamlit_extras==0.3.4
streamlit_option_menu==0.3.6
wikipedia
playwright
duckduckgo-search
torch
